# PostgreSQL
POSTGRES_USER=madacolis
POSTGRES_PASSWORD=change_me
POSTGRES_DB=madacolis

# pgAdmin
PGADMIN_EMAIL=admin@madacolis.mg
PGADMIN_PASSWORD=change_me

# Backend
PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://madacolis:change_me@localhost:5433/madacolis?schema=public
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173